*
    padding: 0
    margin: 0
    box-sizing: border-box
    border: none
    outline: none

$black: #282828
$prime: #D20A28
// $second: #FFB700

body
    min-height: 100vh
    color: #282828
    background-color: #FFFEF5
    font-family: 'Montserrat', sans-serif
    scroll-behavior: smooth
    position: relative
    z-index: 1

    &.active
        overflow: hidden

p
    font-size: 18px
    line-height: 130%

img
    max-width: 100%

a,
button
    color: $black
    text-decoration: none
    transition: all ease .3s
    background-color: transparent
    &:active
        transform: scale(.98)

    &:hover
        opacity: .8

mark
    background: transparent
    color: $prime

.container,
.container-wide
    width: 100%
    max-width: 1400px
    margin:
        left: auto
        right: auto

.container-wide
    max-width: 1560px
    width: 95%

.btn
    font-size: 20px
    line-height: 28px
    font-style: normal
    font-weight: 600
    text-align: center
    display: inline-flex
    vertical-align: middle
    gap: 6px
    padding: 18px 28px
    color: white
    background-color: $prime
    border-radius: 10px 0 10px 0
    img
        max-width: 26px
    &-menu
        display: none

h1
    text-transform: uppercase

h2
    font-size: 20px
    font-style: normal
    font-weight: 600
    margin: 0 0 15px
    &::before
        content: ''
        display: inline-block
        background-color: $prime
        border-radius: 50%
        vertical-align: 4px
        width: 6px
        height: 6px
        margin-right: 10px

section
    padding: 60px 0

.title
    &-wrap
        display: flex
        justify-content: space-between
        margin-bottom: 30px

    &-description
        max-width: 70%
        text-align: right
        font-size: 20px
        font-style: normal
        font-weight: 500
        mark
            font-weight: 600

.nowrap
    white-space: nowrap

.circle
    width: 100px
    height: 100px
    position: absolute
    top: -50px
    border-radius: 50%
    animation: 15s linear circle infinite

@keyframes circle
    0%
        transform: rotate(0deg)
    100%
        transform: rotate(360deg)

@media screen and ( max-width: 1480px )
    .btn
        padding: 12px 28px
        font-size: 16px
        line-height: 24px
        img
            width: 22px

    .container
        padding: 0 15px
        max-width: 1230px

    h2
        font-size: 18px

    .title
        &-wrap
            display: flex
            justify-content: space-between
            margin-bottom: 30px

        &-description
            max-width: 60%
            text-align: right
            font-size: 16px

    section
        padding: 50px 0

@media screen and ( max-width: 1150px )
    .container
        padding: 0 34px
        max-width: 768px

    .btn
        &-menu
            font-size: 18px
            font-style: normal
            font-weight: 700
            padding: 7px 12px 18px
            color: white
            display: inline-block
            position: relative
            z-index: 1
            &::after
                content: ''
                display: inline-block
                position: absolute
                right: 0
                bottom: 16px
                width: 7px
                height: 7px
                background-image: url('../img/menu_arrow.svg')
                background-repeat: no-repeat
                background-position: center center
                transition: all ease .3s

            &.active
                &::after
                    bottom: 26px
                    transform: scaleY(-1)

    .circle
        width: 70px
        height: 70px
        top: -35px

    .title
        &-wrap
            display: block
            margin-bottom: 15px
            h2
                margin-bottom: 20px

        &-description
            width: 100%
            margin-left: auto
            font-size: 14px
            max-width: 607px
            text-align: right

    section
        padding: 40px 0

@media screen and ( max-width: 700px )
    .container
        padding: 0 20px

    h2
        font-size: 16px

    .title
        &-wrap
            h2
                margin-bottom: 10px

@media screen and ( max-width: 600px )
    .btn
        &-menu
            font-size: 16px
            &::after
                bottom: 12px
            &.active
                &::after
                    bottom: 22px
