.header
    max-width: 1560px
    width: 98%
    margin: 0 auto
    padding: 20px 0 10px
    position: relative
    z-index: 1
    text-align: right

    &:not(.header--prime)
        background-color: $black
        color: white

    a
        color: white

    &-top
        text-align: right
        display: inline-flex
        margin-right: 10px
        gap: 15px

    &__phone,
    &__address
        display: inline-block
        font-size: 14px
        font-style: normal
        font-weight: 500
        line-height: 28px
        padding: 0 5px

    &-nav
        display: flex
        width: 100%
        &__item
            list-style: none
            &:nth-child(4)
                margin: 0 0 0 auto
            a
                display: block
                font-size: 16px
                font-style: normal
                font-weight: 600
                line-height: 28px
                padding: 9px 12px 10px
                &:hover
                    text-decoration: underline
            &.active
                a
                    text-decoration: underline

    &__logo
        position: absolute
        top: 20px
        left: 50%
        max-width: 200px
        z-index: 1
        transform: translateX(-50%) !important

    &--prime
        // padding: 13px 68px 10px
        position: absolute
        top: 0
        left: 50%
        transform: translateX(-50%)
        z-index: 999
        width: 100%
        .header
            &-top
                border-radius: 2px
                background-color: rgba(#fff, .9)
                backdrop-filter: blur(2px)
                color: $black
                a
                    color: $black

    @media screen and ( max-width: 1430px )
        max-width: 1326px
        padding: 15px 0 10px
        &-nav
            &__item a
                padding: 3px 12px 10px
                font-size: 14px

        &__logo
            // top: 26px
            max-width: 170px

        &--prime
            .header
                &-top
                    margin-bottom: 7px

    @media screen and ( max-width: 1150px )
        &-nav
            position: fixed
            top: 98px
            background-color: #fff
            // display: block
            display: none
            padding: 30px 10px
            width: calc( 100% - 28px )
            left: 14px
            text-align: right
            &__item
                &.active
                    &::before
                        content: ''
                        display: inline-block
                        background-color: $prime
                        border-radius: 50%
                        vertical-align: middle
                        width: 6px
                        height: 6px
                        margin-right: 6px

                a
                    color: $black
                    display: inline-block
                    font-size: 16px
                    line-height: 28px
                    padding: 10px

        .container
            display: flex
            align-items: center
            justify-content: space-between

        &__logo
            display: inline-block
            position: static
            transform: none !important

        &--prime
            text-align: left
            .header
                &-top
                    margin-top: 20px
                    background-color: transparent
                    a
                        color: white

                &__phone
                &__address
                    display: none

        &-top
