@import 'normolize'
@import 'fonts'
@import 'elements'
@import 'marquee'
@import 'slick'
@import 'header'

.hero
    position: relative
    z-index: 1
    min-height: 100vh
    min-height: 100lvh
    color: white
    padding: 120px 0 70px
    margin-bottom: 70px

    display: flex
    flex-direction: column
    justify-content: flex-end
    align-items: flex-end
    .btn
        &.ontablet
            @media screen and ( min-width: 1150px )
                display: none

    &__video
        width: 100%
        height: 100%
        position: absolute
        top: 0
        left: 0
        z-index: -111
        object-fit: cover
        pointer-events: none
        background-color: rgba(0, 0, 0, 0.50)

    &__heading
        color: #FFF
        text-shadow: 0px 3px 4px rgba(0, 0, 0, 0.80)
        font-size: 90px
        font-style: normal
        font-weight: 800
        line-height: 100%
        margin: 0 0 10px
        max-width: 1370px
        .btn
            vertical-align: 19px

    &__text
        font-size: 24px
        font-style: normal
        font-weight: 500
        line-height: 116.667%
        margin: 0

    .marquee
        position: absolute
        top: calc( 100% + 30px )
        z-index: 1

.services
    display: none
    &-box
        background-color: $black
        color: white
        position: relative
        z-index: 1
        padding: 30px 80px
        list-style: none
        display: flex
        ol
            list-style: none

    &-headings
        width: 31.5%

    &-contents
        border-left: 1px solid white
        padding-left: 20px
        width: 62.8%

    &__heading
        opacity: .3
        font-size: 22px
        font-style: normal
        font-weight: 600
        line-height: 28px
        padding: 10px 0
        display: inline-block
        transition: all ease .3s
        &:hover,
        &:active,
        &.active
            opacity: 1

    &__text
        font-size: 16px
        line-height: 150%
        font-style: normal
        font-weight: 600

.projects
    overflow: hidden
    &-slider
        max-width: 1920px
        margin: 0 auto
        margin-left: calc((100% - 1400px)/2)
        display: flex

    &-img
        display: block
        overflow: hidden
        opacity: 1 !important
        position: relative
        z-index: 1
        margin-bottom: 10px
        &::before
            content: ''
            display: inline-block
            width: 20px
            height: 20px
            background-repeat: no-repeat
            background-position: center center
            background-size: contain
            background-image: url('../img/ic-scale.svg')
            position: absolute
            z-index: 111
            bottom: 10px
            left: 10px
            opacity: .4

        &:active
            img
                transform: scale(1.07) !important

    img
        max-width: 600px
        max-height: 547px
        display: block
        object-fit: cover
        transition: all ease .5s

    &-slide
        padding: 0 5px
        &:hover
            img
                transform: scale(1.05)

    &__heading
        font-size: 20px
        text-transform: uppercase
        font-weight: 600
        line-height: 25px

    &__descr
        font-size: 16px
        font-style: normal
        font-weight: 500
        line-height: 25px

@media screen and ( max-width: 1430px )
    .hero
        padding-bottom: 80px
        &__heading
            font-size: 72px
            max-width: 1100px
            .btn
                vertical-align: 13px

        &__text
            font-size: 20px
            line-height: 28px

    .projects
        &-slider
            margin-left: calc((100% - 1200px)/2)

@media screen and ( max-width: 1150px )
    .hero
        &__heading
            font-size: 48px
            line-height: 125%
            .btn
                display: none

        &__text
            max-width: 80%
            margin-bottom: 20px

@media screen and ( max-width: 700px )
    .hero
        padding: 0
        display: block
        min-height: unset
        &__video
            position: static
            height: 400px
            margin-bottom: 10px

        &__heading
            font-size: 32px
            font-weight: 800
            line-height: 44px
            text-shadow: none
            color: $black
        &__text
            font-size: 16px
            color: $black
            max-width: 100%

        .marquee
            position: static
            margin-bottom: 20px
