@import 'normolize'
@import 'fonts'
@import 'elements'
@import 'marquee'
@import 'slick'
@import 'header'

.hero
    position: relative
    z-index: 99999
    min-height: 100vh
    min-height: 100lvh
    color: white
    padding: 120px 0 70px
    margin-bottom: 70px

    display: flex
    flex-direction: column
    justify-content: flex-end
    align-items: flex-end
    .btn
        &.ontablet
            @media screen and ( min-width: 1150px )
                display: none

    &::before,
    &__video
        width: 100%
        height: 100%
        position: absolute
        top: 0
        left: 0
        z-index: -111
        object-fit: cover
        pointer-events: none

    &::before
        content: ''
        display: block
        z-index: -1
        background-color: rgba(0, 0, 0, 0.40)

    &__heading
        color: #FFF
        text-transform: uppercase
        text-shadow: 0px 3px 4px rgba(0, 0, 0, 0.80)
        font-size: 90px
        font-style: normal
        font-weight: 800
        line-height: 100%
        margin: 0 0 10px
        max-width: 1370px
        .btn
            vertical-align: 19px

    &__text
        font-size: 24px
        font-style: normal
        font-weight: 500
        line-height: 116.667%
        margin: 0

    .marquee
        position: absolute
        top: calc( 100% + 30px )
        z-index: 1

.services
    overflow: hidden
    h2
        margin-bottom: 15px

    &-box
        width: calc( 100% - 40px )
        max-width: 1560px
        margin: 0 auto
        background-color: $black
        color: white
        position: relative
        z-index: 1
        padding: 30px 20px
        border-radius: 2px

    .circle
        right: 80px

    &-headings
        display: block
        counter-reset: custom
        padding: 20px 0 40px
        width: 100%
        list-style-type: none

        a
            color: $prime
            font-size: 10px
            font-style: normal
            font-weight: 600
            line-height: 100%
            visibility: hidden
            opacity: 1
            &::after
                content: ''
                display: inline-block
                width: 4px
                height: 4px
                border-bottom: 1px solid $prime
                border-right: 1px solid $prime
                margin-left: 3px

    &__text
        display: block
        font-size: 16px
        line-height: 150%
        font-style: normal
        font-weight: 600

    &__heading
        font-size: 22px
        font-style: normal
        font-weight: 600
        line-height: 28px
        padding: 10px 0
        display: block
        transition: all ease .3s
        opacity: .3

        &::before
            content: "." counter(custom)
            counter-increment: custom
            display: inline-block
            vertical-align: super
            margin-right: 6px
            font-size: 14px
            font-style: normal
            font-weight: 600
            line-height: 24px

        &:hover,
        &:active,
        &.active
            opacity: 1
            & ~ .services__text
                opacity: 1
                visibility: visible
                transform: translateX(0px)

            a
                display: inline
                visibility: visible
                opacity: 1
                white-space: nowrap

    @media screen and (min-width: 1151px)
        &__heading
            width: 31.8%

        &-headings
            position: relative
            z-index: 1
            overflow: hidden
            &::before
                content: ''
                display: block
                width: 1px
                background-color: #fff
                height: 100%
                left: 33.4%
                position: absolute
                top: 5%
                z-index: -1

        &__text
            width: 59%
            top: 15px
            left: 34%
            position: absolute
            padding-left: 20px
            opacity: 0
            visibility: hidden
            transform: translateX(100%)
            transition: all ease .5s
            &::before
                content: "." counter(custom)
                display: block

.projects
    overflow: hidden
    position: relative
    z-index: 1
    &-slider
        max-width: 1920px
        margin: 0 auto
        display: flex

    .slick
        &-list
            padding-left: calc((100% - 1400px)/2)
        &-arrow
            position: static
            transform: none
            width: unset
            height: unset
            font-size: 12px
            font-style: normal
            font-weight: 500
            line-height: normal
            color: $black
            background-image: none
            text-align: left
            padding-top: 30px
            &::after
                content: ''
                display: block
                width: 60px
                height: 8px
                background-image: url('../img/slider_arrow.svg')
                background-repeat: no-repeat
                background-size: contain

        &-prev
            display: none

    &-img
        display: block
        overflow: hidden
        opacity: 1 !important
        position: relative
        z-index: 1
        margin-bottom: 10px
        &::before
            content: ''
            display: inline-block
            width: 20px
            height: 20px
            background-repeat: no-repeat
            background-position: center center
            background-size: contain
            background-image: url('../img/ic-scale.svg')
            position: absolute
            z-index: 111
            bottom: 10px
            left: 10px
            opacity: .4

        &:active
            img
                transform: scale(1.07) !important

        img
            width: 420px
            max-height: 547px
            display: block
            object-fit: cover
            transition: all ease .5s

        &--wide
            img
                width: 600px

    &-slide
        padding: 0 5px
        &:hover
            img
                transform: scale(1.05)

    &__heading
        font-size: 20px
        text-transform: uppercase
        font-weight: 600
        line-height: 25px

    &__descr
        font-size: 16px
        font-style: normal
        font-weight: 500
        line-height: 25px

    .circle
        z-index: 11
        top: 150px
        left: calc((100% - 1500px)/2)

.features
    &-item
        width: 33.33%
        background-color: #282828
        display: flex
        flex-direction: column
        justify-content: space-between
        padding: 40px 20px 20px
        border-radius: 2px
        color: white
        min-height: 300px
        border-right: 1px solid white
        border-bottom: 1px solid white
        &:last-child
            background-color: #fff
            color: $black
            border: 1px solid $prime

    &__heading
        font-size: 16px
        font-style: normal
        font-weight: 500
        line-height: 150%

    &__text
        font-size: 16px
        font-style: normal
        font-weight: 600
        line-height: 150%
        text-transform: uppercase

.consult
    h2
        text-align: center
        margin: 0 auto 30px
        padding: 0
        max-width: 603px
        &::before
            display: none
    .container
        @media screen and ( min-width: 1150px )
            max-width: 1080px

    input, .btn
        width: 47.7%
        margin-bottom: 5px

    &__text
        width: 100%
        font-size: 14px
        line-height: 200%
        font-style: normal
        font-weight: 600
        color: #ADADAD
        a
            color: $black

.construction
    .container
        position: relative

    h2
        margin-bottom: 50px

    &-item
        display: flex
        opacity: .5
        justify-content: space-between
        margin-top: 50px
        &:first-child
            margin-top: 0
        &.active
            opacity: 1

    .heading
        width: 242px
        font-size: 22px
        font-style: normal
        font-weight: 600
        line-height: 127%

    &-title
        width: 33.5%
        position: relative
        img 
            border-radius: 2px
            width: 250px
            height: 150px
            object-fit: cover
            display: block
            margin-left: auto 

        .heading 
            width: calc( 100% - 265px )
            position: absolute
            top: 10px

    .text
        width: 58%
        font-size: 16px
        font-style: normal
        font-weight: 500
        line-height: 150%

    &-range
        display: none
        @media screen and ( min-width: 700px )
            display: block
            position: absolute
            right: 62%
            height: 100%
            top: 0
            width: 1px
            background-color: #ADADAD
            &__item
                display: inline-block
                width: 19px
                height: 19px
                border-radius: 50%
                background-color: $prime

.price
    $priceImg: 190px
    span:not(.price-title)
        display: block

    ol
        list-style-type: none
        counter-reset: price

    li
        position: relative
        padding-bottom: 60px
        &::before
            content: "." counter(price)
            counter-increment: price
            display: inline-block
            vertical-align: super
            font-size: 14px
            font-style: normal
            font-weight: 600
            position: absolute
            left: 0
            top: 7px

    &-title, li
        display: flex
        justify-content: space-between

    &-header,
    &-title
        padding-top: 15px
        border-top: 1px solid #000

    &__heading
        font-size: 22px
        font-weight: 600
        letter-spacing: -1.32px
        margin: 0 0 10px

    &__tag
        font-size: 16px
        font-weight: 500

    &__img
        min-width: $priceImg
        width: $priceImg
        height: 150px
        object-fit: cover
        border-radius: 2px

    &__text
        font-size: 16px
        font-weight: 500
        width: calc( 100% - ($priceImg + 20px) )

    &-header
        width: 24.2%
        padding-left: 18px

    &-title
        padding-right: 40px
        width: 70.2%

    &-info
        background-color: $black
        color: white
        padding-top: 20px
        padding-bottom: 30px

        .price__text
            width: 44%
            max-width: 440px
            &:last-child
                margin: 0 auto

.managers
    overflow: hidden

    .title-wrap
        position: relative
        margin: 0
        z-index: 111
        .circle
            right: -50px
            top: auto
            bottom: -50px

    &-slider
        max-width: 1400px
        margin: 0 auto

    .slick
        &-arrow
            position: static
            transform: none
            width: unset
            height: unset
            font-size: 12px
            font-style: normal
            font-weight: 500
            line-height: normal
            color: $black
            background-image: none
            text-align: left
            padding-top: 30px
            margin: 0 0 0 auto
            &::after
                content: ''
                display: block
                width: 60px
                height: 8px
                background-image: url('../img/slider_arrow.svg')
                background-repeat: no-repeat
                background-size: contain

        &-disabled
            opacity: 0

        &-prev
            display: none

    &-slide
        width: 338px
        margin-right: 20px
        @media screen and ( min-width: 700px )
            &.--40
                width: 311px
                .managers-img
                    aspect-ratio: 4/6
            &.--wide
                width: 586px
                .managers-img
                    aspect-ratio: 16/10.68
            &.--full
                width: 700px
                .managers-img
                    aspect-ratio: 16/10.68

        @media screen and ( min-width: 922px )
            &.--full
                width: 819px

            &.--40
                width: 364px

        @media screen and ( min-width: 1480px )
            &.--full
                width: 955px

            &.--40
                width: 425px

            &.--wide
                width: 819px

    &-img
        width: 100%
        display: block
        aspect-ratio: 4/4.75
        object-fit: cover
        background-color: #eee
        margin-bottom: 5px

    &__heading
        font-size: 20px
        font-weight: 600
        line-height: 28px

    &__text
        font-size: 14px
        font-weight: 500
        line-height: 24px

.stages
    h2
        margin-bottom: 30px

    .dropdown
        &-content
            max-width: 80%

        &-btn
            position: relative
            &:active
                transform: none
            &::after
                content: ''
                display: inline-block
                position: absolute
                top: -12px
                right: -3px
                border-top: 18px solid transparent
                border-bottom: 18px solid transparent
                border-left: 18px solid $black
                transform: rotate(-45deg)
                opacity: 0

            &.active
                color: $prime
                &::after
                    opacity: 1

.built
    overflow: hidden
    margin-bottom: 60px
    .slick
        &-track
            display: flex
            align-items: center
        &-list
            padding-left: calc((100% - 1400px)/2)
            @media screen and ( max-width: 1480px )
                padding-left: calc((100% - 1200px)/2)
            @media screen and ( max-width: 1300px )
                padding: 0 34px
            @media screen and ( max-width: 700px )
                padding: 0 20px

    &-slide
        align-self: flex-start
        width: 256px
        margin-right: 10px
        img
            object-fit: cover
            width: 100%
            display: block
            aspect-ratio: 4/4.83
            border-radius: 2px
            margin-bottom: 15px

        @media screen and ( min-width: 1480px )
            width: 300px

    &__heading
        font-size: 18px
        font-weight: 500
        line-height: 28px

    &__text
        font-size: 14px
        font-weight: 400
        line-height: 150%

    &-more
        text-align: center
        padding: 0 24px
        &__mark
            margin: 0 auto
            background-color: $black
            color: white
            text-align: center
            width: 80px
            height: 80px
            line-height: 80px
            border-radius: 50%
            font-size: 22px
            font-weight: 600
            margin-bottom: 10px

        &__text
            font-size: 16px
            font-weight: 600
            line-height: 28px

@import 'about'

@import 'footer'

@media screen and ( max-width: 1480px )
    .hero
        padding-bottom: 80px
        &__heading
            font-size: 72px
            max-width: 1100px
            .btn
                vertical-align: 13px

        &__text
            font-size: 20px
            line-height: 28px

    .services
        &-box
            width: calc(100% - 28px)

        &-headings
            min-height: 246px

        &__heading
            padding: 5px 0
            font-size: 18px
            font-weight: 600
            line-height: 28px

        &__text
            width: 60%
            font-size: 14px
            line-height: 24px

    .projects
        .slick
            &-list
                padding-left: calc((100% - 1200px)/2)

        .circle
            left: calc((100% - 1300px)/2)

        &__heading
            font-size: 18px

        &__text
            font-size: 14px

    .features
        &-item
            padding-top: 30px
            min-height: 250px
        &__heading
            font-size: 14px

    .consult
        .container
            @media screen and ( min-width: 1150px )
                max-width: 796px

        input, .btn
            width: 45.7%
            margin-bottom: 10px

        &__text
            font-size: 10px

    .construction
        h2
            margin-bottom: 40px
        
        .text
            width: 60%
            font-size: 14px
            line-height: 24px

        .heading
            font-size: 18px
            line-height: 28px

        &-range
            right: 63%

    .price
        $priceImg: 160px
        &-header
            width: 28.2%

        &-title
            width: 65.2%

        &__heading
            font-size: 20px
        &__tag
            font-size: 14px

        &__img
            min-width: $priceImg
            width: $priceImg
            height: 126px

        &__text
            width: calc( 100% - ($priceImg + 20px) )
            font-size: 14px

    .managers
        &-slider
            max-width: 1200px

        &-slide
            width: 290px
            margin-right: 17px

        &__heading
            font-size: 18px

        &__text
            font-size: 12px

    .built
        margin-bottom: 50px
        &-slide
            img
                margin-bottom: 10px

        &__heading
            font-size: 16px

        &__text
            font-size: 12px

@media screen and ( max-width: 1300px )
    .projects
        .circle
            left: 0

        .slick
            &-list
                padding: 0 20px
            &-arrow
                padding-top: 20px

        &-img
            img
                width: 350px
            &--wide
                img
                    width: 500px

@media screen and ( max-width: 1150px )
    .hero
        &__heading
            font-size: 48px
            line-height: 125%
            .btn
                display: none

        &__text
            max-width: 80%
            margin-bottom: 20px

    .services
        .circle
            right: 20px
        li
            padding-left: 40px
            position: relative
        &__text
            display: none
            width: 100%

        &__heading
            width: 100%
            padding: 10px 0
            &::before
                position: absolute
                left: 0
                top: 3px

            a
                display: none

            &:hover,
            &:active,
            &.active
                & ~ .services__text
                    padding: 0 0 30px
                    display: block

    .features
        &-item
            width: 50%

    .construction
        h2
            margin-bottom: 30px

        .text
            width: 50%
            font-size: 14px
            line-height: 24px

        .heading
            font-size: 18px
            line-height: 28px

        &-title 
            width: 41.5%
            .heading 
                position: static
                margin-bottom: 30px

        &-range
            right: 54%

    .price
        li
            padding-bottom: 50px

        &-header
            width: 42.8%

        &-title
            padding-right: 5px
            width: 50%

        &__heading
            font-size: 18px
            margin-bottom: 5px

        &__img
            display: none

        &__text
            width: 100%

        &-info
            .price__text
                font-size: 12px
                width: 41%

    .managers
        .title-wrap
            margin-bottom: 10px

        .circle
            display: none

        .slick
            &-list
                padding-left: calc((100% - 700px)/2)

        &-slide
            width: 254px
            margin-right: 10px

    .built
        margin-bottom: 40px

    .stages
        .dropdown 
            &-content 
                max-width: 100%

@media screen and ( max-width: 700px )
    .hero
        padding: 0 !important
        display: block
        min-height: unset
        &__video
            position: static
            height: 400px
            margin-bottom: 10px
        &::before
            height: 400px

        &__heading
            font-size: 32px
            font-weight: 800
            line-height: 44px
            text-shadow: none
            color: $black
        &__text
            font-size: 16px
            color: $black
            max-width: 100%

        .marquee
            position: static
            margin-bottom: 20px

    .services
        .circle
            right: -20px
        &__heading
            font-size: 16px
            line-height: 24px
        &-box
            width: calc(100% - 20px)
            padding: 0 10px
            li
                padding-left: 22px

    .projects
        .container
            position: relative

        .circle
            bottom: -50px
            left: -10px
            top: auto
        &-slider
            margin: 0
        &-slide
            width: calc( 100vw - 40px )
            padding: 0
            margin: 0 5px
            img
                width: 100%

        .slick-list
            padding-left: 20px

        &__heading
            font-size: 16px

        &__text
            font-size: 12px

    .features
        &-item
            width: 100%
            border-right: none

    .consult
        .container
            padding: 0 30px

        h2
            line-height: 175%
            max-width: 90%

        input, .btn
            width: 100%
            margin-bottom: 0

        input
            order: 1

        &__text
            font-size: 10px
            order: 2
            margin-bottom: 20px

        .btn
            order: 3

    .price
        &-header,
        &-title
            width: 100%
        &-title, li
            display: block

        li
            padding-bottom: 60px

        &-title
            padding-top: 20px
            padding-right: 0
            border-top: none

        &-info
            padding: 20px 10px
            .wrap
                display: block
                padding: 0

            .price__text
                width: 100%
                max-width: 100%
                margin: 0 0 10px !important

    .managers
        h2
            margin-bottom: 0
        .slick
            &-arrow
                padding-top: 10px
            &-disabled
                opacity: .4

        &-slide
            margin-right: 20px
            &.--wide
                width: calc( 100vw - 40px )
            &.--full
                width: calc( 100vw - 40px )
                .managers-img
                    aspect-ratio: 16/12
            &.--40
                .managers-img
                    aspect-ratio: 4/6

        .slick-list
            padding: 0 20px

    .construction
        &-item
            display: block

        .text
            width: 100%

        .heading
            width: 100%
            margin-bottom: 15px

        &-title 
            img 
                display: none